name: Build, Test & Deploy to Azure

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-test-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build --configuration Release --no-restore

      - name: Test
        run: dotnet test --configuration Release --no-build

      # ---------- WEB ----------
      - name: Publish Web
        run: dotnet publish ./AvansMeals.Web/AvansMeals.Web.csproj -c Release -o ./publish-web

      - name: Deploy Web to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME_WEB }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_WEB }}
          package: ./publish-web

      # ---------- API ----------
      - name: Publish Api
        run: dotnet publish ./AvansMeals.Api/AvansMeals.Api.csproj -c Release -o ./publish-api

      - name: Deploy Api to Azure
        uses: azure/webapps-deploy@v3
        with:
          app-name: ${{ secrets.AZURE_WEBAPP_NAME_API }}
          publish-profile: ${{ secrets.AZURE_WEBAPP_PUBLISH_PROFILE_API }}
          package: ./publish-api
